body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: red;
}


#local{
    width: 100%;
    background-color: gray;
    padding: 15px 0;
    margin: 0;

    font-size: 1.5rem;
    color: red;
    text-align: center;
}

#cities{
    border-collapse: collapse;
    width: 100%;
}

#cities td{
    border: 2px solid black;
    padding: 8px;
}

#cities tr:nth-child(even){
    background-color: darkgray;
}

.col1{
    width: 10%;
}

.col2{
    width: 45%;
}











